<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div>
        <form enctype="multipart/form-data" method="post" action="/minipic/upload" >
        <label for="imageTitle">Image Title:</label>
        <input type="text" id="imageTitle" name="imageTitle">
        <label for="imageData">Upload image here:</label>
        <input type="file" id="imageData" name="imageData">
        <label for="upload">Finish!</label>
        <input type="submit" id="upload">
        </form>
    </div>
</body>
</html>